*.swp
.sass-cache
.yarnclean
node_modules
yarn-error.log
dist/templates
dist/assets
src/templates-old
config/__pycache__
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
