{#
Author: cwittlut <i@bitbili.net>
License: GPLv2
#}
{# url macro #}
{% macro _url(path, hash=False, relative=True) %}
  {% set path = path|trim %}
  {% if path[:4] == "http" -%}
    {{ path }}
  {%- else %}
    {% if not relative %}
      {% set domain = SITE.url|trim('/') %}
    {% else %}
      {% set domain = "" %}
    {% endif %}
    {% if hash -%}
      {{ domain + '/' + path|trim('/') + '?s=' + _md5_hash(path) }}
    {%- else -%}
      {{ domain + '/' + path|trim('/') }}
    {%- endif %}
  {% endif %}
{% endmacro %}
{# rst url macro #}
{% macro _rst_url(url) -%}
  {{ url.rstrip(".html") + '.rst.html' }}
{%- endmacro %}
{# title macro #}
{% macro _title(path) -%}
  {% block title %}{{ SITE.name }}{% endblock %}
{%- endmacro %}
{# some dict #}
{% set langname   = dict(zh="zh-Hans", zh_hans="zh-Hans", en="en-US") %}
{% set localename = dict(zh="zh_CN", zh_hans="zh_CN", en="en_US") %}
{% block html %}
<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">

{% include 'includes/head.html' %}

<body>
  <div style="display:none" id="title">{{ _title() }}</div>

{% include 'includes/header.html' %}

  <main>
  {% block main %}
  {% endblock main %}
  </main>

{% include 'includes/footer.html' %}

{% block scripts_after %}
{% endblock scripts_after %}

</body>
</html>
{% endblock html %}
