{#
Author: cwittlut <i@bitbili.net>
License: GPLv2
#}

{% extends "base.html" %}

  {% block header %}
  <header class="on-index">
    <color-mode></color-mode>
    <search-box></search-box>
    <noscript>
    <div id="search" class="f-r">
      <form action="{{ _url('/search') }}" method="get">
        <input type="search" name="search"></input><button type="submit">Search</button>
      </form>
    </div>
    </noscript>
  </header>
  {% endblock header %}

  {% block main %}
  <main class="on-index">
    <div class="contents">
      <div id="blackboard">
        <div id="site">
          <img id="logo" src="{{ _url(LOGO.square.svg.path, False, True) }}" />
          <div>
            <span>{{ SITE.desc }}</span>
            <span>
            <noscript>
            <a id="rss" href="{{ _url('feeds/rss.xml', False, False) }}">订阅</a>
            </noscript>
            <index-rss myhref="{{ _url('feeds/rss.xml', False, False) }}">
            </index-rss>
            </span>
          </div>
        </div>
        <div id="author">
          <div>
            <span>{{ SITE.author.name }}</span>
            <a target="_blank" href="{{ _url(SITE.author.profile.url, False) }}">
              <span>@{{ SITE.author.username|trim('@') }}</span>
            </a>
          </div>
          {% if SITE.author.profile.avatar != "" %}
          <img id="avatar" src="{{ _url(SITE.author.profile.avatar, False, True) }}" />
          {% endif %}
        </div>
      </div>
      {% include "includes/list.html"%}
    </div>
    <div id="theme-info">
      <span>主题为 </span><a href="{{ THEME_URL }}" target="_blank"><span>{{ THEME_NAME }}</span></a>
    </div>
  </main>
  {% endblock main %}

  {% block footer %}
  {% endblock footer %}
