{#
Author: cwittlut <i@bitbili.net>
License: GPLv2
#}

{% extends "base.html" %}

  {% block title %}标签： {{ tag }} - {{ SITENAME }}{% endblock %}

  {% block canonical_rel %}
  <link rel="canonical" href="{{ _url(tag.url, False, False) }}">
  {% endblock %}

  {% block meta %}
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="keywords" content="{{ tag }}" />
  {% endblock %}

  {% block header %}
    {% include "includes/header.html"%}
  {% endblock header %}

  {% block main %}
  <main>
    <div id="tag">
      <h1>{{ tag }} 标签</h1>
      {% include "includes/list.html"%}
    </div>
  </main>
  {% endblock main %}

  {% block footer %}
    {% include "includes/footer.html"%}
  {% endblock footer %}
