// Author: cwittlut <i@bitbili.net>
// License: GPLv2
//

@import 'generated_var.scss';

::-moz-selection {
  color: var(--highlight-fg);
  background-color: var(--highlight);
  transition-property: background-color,color;
  transition-duration: 0.3s;
}
::selection {
  color: var(--highlight-fg);
  background-color: var(--highlight);
  transition-property: background-color,color;
  transition-duration: 0.3s;
}

::-webkit-scrollbar {
  position: relative;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: $radius;
  background-color: var(--bg-thumb-t0);
  transition-property: background-color;
  transition-duration: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-thumb-t1);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--brand0);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.f-l {
  float: left;
}
.f-r {
  float: right;
}

.hidden {
  display: none;
}

.hidden-print {
  @media print {
    display: none !important;
  }
}

.hidden-screen {
  font-size: 0.9em;
  font-style: italic;
  color: var(--fg-less) !important;
  @media screen {
    display: none !important;
  }
}

img#logo {
  filter: var(--logo-f);
  transition: filter 0.3s;
}

a, button {
  cursor: pointer;
}

a {
  color: var(--link);
  text-decoration: none;
  transition: color 0.3s;
  &:visited {
    color: var(--link);
  }
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  border-radius: $radius;
  //outline: solid 1px var(--fg);
  outline: dashed 0 var(--brand0);
  color: var(--fg);
  transition-property: background-color,color,outline-color,box-shadow;
                                                          // the box-shadow is used to
                                                          // transition comment/source-code button
                                                          // do not remove it.
  transition-duration: 0.3s;
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
  &:hover {
    /*
    outline-color: var(--brand0);
    box-shadow: 0 0 3px var(--brand0);
    */
  }
  &:active {
    //outline-color: var(--brand0);
    outline-width: 1px;
  }
}

@mixin icon($url, $side, $opacity: 1) {
  display: inline-block;
  width: $side;
  height: $side;
  opacity: $opacity;
  background: {
    color: transparent;
    image: $url;
    repeat: no-repeat;
    size: contain;
    position: center;
  }
  transition: filter 0.3s;
}

/*
// Low performance
html {
  scroll-behavior: smooth;
}
*/

html {
  height: 100%;
  scroll-padding-top: calc(var(--sat) + 60px);
  @media print {
    scroll-padding-top: 0;
  }
}

body {
  /*
  &:before {
    content: '';
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: var(--sat);
    background-color: var(--bg);
    transition-property: background-color;
    transition-duration: 0.3s;
  }
  */
  position: relative;
  -webkit-text-size-adjust: none;
  width: 100%;
  font: {
    family: $font;
    size: $fontsize;
  }
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $linehight;
  color: var(--fg);
  background: var(--bg);
  margin: var(--sat) 0 0 0;
  //padding: var(--sat) 0 0 0;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}


header {
  position: fixed;
  display: block;
  @media print {
    position: relative;
  }
  z-index: 900;
  top: 0;
  left: 0;
  margin: 0;
  height: calc(60px + var(--sat));
  width: 100%;
  padding: var(--sat) var(--sar) 0 var(--sal);
  background-color: var(--bg);
  box-sizing: border-box;
  transition-property: margin-left,width,background-color;
  transition-duration: 0.3s;
  &.on-index {
    //position: relative;
    background-color: transparent;
  }
  >a {
    display: inline-block;
  }
  #logo {
    margin:12px 24px;
    width: 36px;
    height: 36px;
  }
  #search {
    margin: 15px 0 15px 0;
    height: 30px;
    form {
      height: 30px;
      input {
        outline: 1px solid var(--fg);
        padding: 5px 10px;
        height: 30px;
        max-width: 200px;
        box-sizing: border-box;
        border: none;
        color: var(--fg);
        background: var(--bg);
        transition-property: background-color,color;
        transition-duration: 0.3s;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
        @media all and (max-width: 510px) {
          max-width: 90px;
        }
        @media all and (max-width: 390px) {
          max-width: 70px;
        }
      }
      button {
        padding: 5px 10px;
        height: 30px;
        box-sizing: border-box;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        @media all and (max-width: 400px) {
          max-width: 35px;
          color: transparent;
          overflow: hidden;
          &:before {
            content: ' ';
            @include icon(var(--search-icon), 1em);
            filter: var(--fg-f);
            position: absolute;
          }
        }
      }
    }
  }
  // the slight more common button defination at below
  button#back-top {
    &:before {
      @include icon(var(--bt-icon), 20px);
    }
  }
  button#color-mode {
    &:before {
      @include icon(var(--dn-icon), 20px);
    }
  }
  button#help {
    @media all and (max-width: 800px) {
      display: none;
    }
    &:before {
      @include icon(var(--in-icon), 20px);
    }
  }
}

/*
// fix the anchor position due to a fixed header elem
:target {
  &:before {
    content: '';
    position: relative;
    z-index: -1000;
    display: block;
    padding-top: 60px;
    margin-top: -60px;
    visibility: hidden;
  }
}
use scroll-margin-top instead
*/

div#source-code-cover {
  position: fixed;
  z-index: 1002;
  bottom: 0;
  left: 0;
  display: none;
  @media screen {
    display: block;
  }
  height: 100%;
  width: 100%;
  padding: calc(var(--sat) + 60px) 0 0 0;
  box-sizing: border-box;
  transform: translateY(100%);
  background-color: var(--bg-source-c);
  transition-property: background-color,color;
  transition-duration: 0.3s;
  backdrop-filter: blur(30px) brightness(var(--bg-source-b)); // firefox does not support this by default.
  source-code-close {
    position: absolute;
    top: var(--sat);
    right: var(--sar);
    width: 60px;
    height: 60px;
    button {
      &:before {
        @include icon(var(--close-icon), 20px);
        filter: var(--fg-less-f);
      }
    }
  }
  >div#source-code-container {
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 max(var(--sar), 2em) 0 max(var(--sal), 2em);
    >div.highlight {
      height: 100%;
      overflow: auto;
      font-size: 0.9em;
      &:after {
        font: {
          size: 80%;
          family: $monofont;
        }
        line-height: 1.5em;
        content: '.. END';
        color: var(--fg);
        transition: color 0.3s;
        padding-bottom: calc(var(--sab) + 1em);
        opacity: 0.5;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes floating {
  0%   { opacity: 0;   transform: translate(-0px,       0) rotate(-5deg); }
  3%   { opacity: 0.1; transform: translate(-0.3px,  -1px) rotate(-4deg); }
  6%   { opacity: 0.2; transform: translate(-0.6px,  -2px) rotate(-3deg); }
  9%   { opacity: 0.2; transform: translate(-0.9px,  -3px) rotate(-2deg); }
  12%  { opacity: 0.3; transform: translate(-1.2px,  -4px) rotate(-1deg); }
  15%  { opacity: 0.3; transform: translate(-1.5px,  -5px) rotate(0deg);  }
  18%  { opacity: 0.3; transform: translate(-1.8px,  -6px) rotate(1deg);  }
  21%  { opacity: 0.4; transform: translate(-1.8px,  -7px) rotate(2deg);  }
  24%  { opacity: 0.4; transform: translate(-1.8px,  -8px) rotate(3deg);  }
  27%  { opacity: 0.4; transform: translate(-1.8px,  -9px) rotate(4deg);  }
  30%  { opacity: 0.5; transform: translate(-1.8px, -10px) rotate(5deg);  }
  33%  { opacity: 0.5; transform: translate(-1.5px, -11px) rotate(6deg);  }
  36%  { opacity: 0.5; transform: translate(-1.2px, -12px) rotate(7deg);  }
  39%  { opacity: 0.5; transform: translate(-0.9px, -13px) rotate(8deg);  }
  42%  { opacity: 0.5; transform: translate(-0.6px, -14px) rotate(9deg);  }
  45%  { opacity: 0.5; transform: translate(-0.3px, -15px) rotate(10deg); }
  48%  { opacity: 0.5; transform: translate(0px,    -16px) rotate(11deg); }
  51%  { opacity: 0.5; transform: translate(0.5px,  -17px) rotate(12deg); }
  54%  { opacity: 0.5; transform: translate(1px,    -18px) rotate(13deg); }
  57%  { opacity: 0.5; transform: translate(1.5px,  -19px) rotate(14deg); }
  60%  { opacity: 0.5; transform: translate(2px,    -20px) rotate(15deg); }
  63%  { opacity: 0.4; transform: translate(2.5px,  -21px) rotate(16deg); }
  66%  { opacity: 0.4; transform: translate(3px,    -22px) rotate(17deg); }
  69%  { opacity: 0.4; transform: translate(3.5px,  -23px) rotate(18deg); }
  72%  { opacity: 0.4; transform: translate(4px,    -24px) rotate(18deg); }
  75%  { opacity: 0.4; transform: translate(4.5px,  -25px) rotate(17deg); }
  78%  { opacity: 0.3; transform: translate(5px,    -26px) rotate(17deg); }
  81%  { opacity: 0.3; transform: translate(5.5px,  -27px) rotate(17deg); }
  84%  { opacity: 0.3; transform: translate(6px,    -28px) rotate(17deg); }
  87%  { opacity: 0.3; transform: translate(6.5px,  -29px) rotate(17deg); }
  90%  { opacity: 0.2; transform: translate(7px,    -30px) rotate(17deg); }
  93%  { opacity: 0.2; transform: translate(7.5px,  -31px) rotate(17deg); }
  96%  { opacity: 0.2; transform: translate(8px,    -32px) rotate(17deg); }
  99%  { opacity: 0.1; transform: translate(8.5px,  -33px) rotate(17deg); }
  100% { opacity: 0;   transform: translate(9px,    -34px) rotate(17deg); }
}

@keyframes shake {
  0%   { transform: translate(0.2px,  0px) rotate(0deg);  }
  10%  { transform: translate(-0.2px, 0px) rotate(-5deg); }
  20%  { transform: translate(-0.6px, 0px) rotate(5deg);  }
  30%  { transform: translate(0.6px,  0px) rotate(0deg);  }
  40%  { transform: translate(0.2px,  0px) rotate(5deg);  }
  50%  { transform: translate(-0.2px, 0px) rotate(-5deg); }
  60%  { transform: translate(-0.6px, 0px) rotate(0deg);  }
  70%  { transform: translate(0.6px,  0px) rotate(-5deg); }
  80%  { transform: translate(-0.2px, 0px) rotate(5deg);  }
  90%  { transform: translate(0.2px,  0px) rotate(0deg);  }
  100% { transform: translate(0.2px,  0px) rotate(-5deg); }
}

@keyframes progressline {
  from {
    left: 0;
  }
  to {
    left: 90%;
  }
}

main {
  position: relative;
  padding: 0 max(var(--sar), #{$mainpadding}) 0 max(var(--sal), #{$mainpadding});
  @media all and (max-width: 1100px) {
    padding: 0 max(var(--sar), #{$mainpadding-smaller}) 0 max(var(--sal), #{$mainpadding-smaller});
  }
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: auto;
  transition-property: margin-left,width;
  transition-duration: 0.3s;


  #index {
    display: flex;
    align-items: center;
    flex-direction: column;
    #title-list {
      width: 100%;
      ul {
        margin-top: 40px;
        margin-bottom: 0;
        padding: 0 1.5em;
        list-style: none;
        li {
          position: relative;
          line-height: 1.5em;
          a {
            font-size: 0.9em;
            color: var(--fg);
          }
        }
      }
      #page-number, #modified-date {
        height: 20px;
        font-size: 12px;
        text-align: right;
        color: var(--fg-less1);
        transition: color 0.3s;
      }
      #modified-date {
        float: right;
        margin-left: 12px;
        &:before {
          content: '';
          @include icon(var(--note-icon), 10px);
          filter: var(--fg-less1-f);
        }
      }
    }
    #pager-loading {
      display: none;
      position: relative;
      height: 1px;
      width: 10%;
      background-color: var(--brand0);
      transition: background-color, 0.3s;
      animation-duration: 1s;
      animation-name: progressline;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
    }
    #pager {
      margin-bottom: 20px;
      a {
        text-decoration: none;
        color: transparent;
        button {
          &:before {
            content: '';
            @include icon(var(--angle-left-icon), 20px);
            filter: var(--fg-f);
          }
        }
      }
      a#older-page {
        button {
          &:before {
            background-image: var(--angle-right-icon);
          }
        }
      }
      a.disabled-a {
        cursor: default;
        pointer-events: none;
        button {
          cursor: default;
          pointer-events: none;
          &:before {
            filter: var(--fg-less1-f);
          }
          /*
          &:active {
            outline: none;
          }*/
        }
      }
    }
  }

  /*
   * For index page, start
   */
  &.on-index {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    padding: var(--sat) calc(var(--sar) + 30px) var(--sab) calc(var(--sal) + 30px);
    >.contents {
      position: relative;
      max-width: 1200px;
      margin: auto;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      #blackboard, #index {
        width: 50%;
        min-width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          display: block;
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }
      #site {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-top: 80px;
        div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0 10px;
          span {
            color: var(--fg-less1);
            transition: color 0.3s;
            font: {
              //family: $monofont;
              size: 0.9em;
            }
          }
          index-rss {
            line-height: 1em;
          }
          a#rss {
            position: relative;
            color: var(--fg-less);
            line-height: 1em;
            display: inline-block;
            height: 1em;
            width: 1em;
            &:before {
              content: '';
              @include icon(var(--rss-icon), 1em);
              filter: var(--fg-less-f);
            }
            span {
              position: absolute;
              bottom: 0.1em;
              left: 1.5em;
              font-size: 0.7em;
              font-family: $monofont;
              line-height: 1em;
              letter-spacing: 0.1em;
              color: var(--fg);
              opacity: 1;
              transition-property: color, opacity;
              transition-duration: 0.3s;
              cursor: default;
              pointer-events: none;
              text-decoration: none;
              white-space: pre;
              &.success:after {
                content: '';
                @include icon(var(--heart-icon), 0.9em, 0);
                filter: var(--brand0-f);
                position: absolute;
                bottom: -0.5em;
                right: -0.5em;
                animation: floating 2s;
                animation-timing-function: linear;
              }
              &.hide {
                opacity: 0;
              }
            }
          }
          a#rss[clicked]:before {
            animation: shake 0.5s;
            animation-iteration-count: infinite;
          }
        }
      }
      #author {
        display: flex;
        margin-top: 30px;
        padding-bottom: 100px;
        //@media all and (max-width: calc(var(--sal) + var(--sar) + 599px)) {
        // not sure safe-area-offset will be calculated in this max-width or not.
        @media all and (max-width: 599px) {
          padding-bottom: 0;
        }
        justify-content: center;
        align-items: center;
        >div {
          padding: 0 10px;
          /*
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;
          */
          color: var(--fg-less);
          transition: color 0.3s;
          font: {
            family: $monofont;
            size: 0.9em;
          }
          a {
            color: var(--fg-less);
          }
          /*
          #contant {
            line-height: 1em;
            &:before {
              content: '';
              @include icon(var(--profile-icon), 1em);
              filter: var(--fg-less-f);
            }
          }*/
        }
      }
      #index {
        align-items: flex-start;
        #title-list {
          >ul {
            height: 190px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            li {
              &.pined:before {
                content: '';
                position: absolute;
                top: 0.45em;
                left: -1em;
                @include icon(var(--pin-icon), 0.6em);
                filter: var(--fg-less-f);
              }
              a {
                color: var(--fg);
                font-size: 0.8em;
              }
            }
          }
        }
      }
    }
    div#site-info {
      position: absolute;
      left: calc(var(--sal) + 10px);
      bottom: calc(var(--sat) + 10px);
      color: var(--fg-less1);
      opacity: 0.3;
      transition: color 0.3s;
      font: {
        family: $monofont;
        size: 0.7em;
      }
      line-height: 1.5em;
      a {
        color: var(--fg-less1);
        text-decoration: underline;
        margin-right: 0.5em;
      }
      a#theme-name {
        &:before {
          content: ' ';
          @include icon(var(--theme-icon), 0.8em);
          filter: var(--fg-less1-f);
          margin-right: 0.3em;
        }
      }
      @media all and (max-width: 599px) and (max-height: 530px) {
        display: none;
      }
      @media all and (max-height: 250px) {
        display: none;
      }
    }
  }
  /*
   * For index page, end
   */

  >#categories, >#tags, >#category, >#tag {
    max-width: 600px;
    margin: 50px auto;
    margin-top: calc(var(--sat) + 90px);
    h1 {
      font: {
        size: 1em;
        family: $monofont;
      }
      line-height: 1em;
      margin: 0;
      padding: 0.3em 1em;
      display: inline-block;
      border-bottom: 3px solid var(--brand0);
      /*
      background-color: var(--fg-less1);
      transition-property: color,background-color;
      */
      transition-property: border-bottom-color;
      transition-duration: 0.3s;
    }
  }
  >#tags {
    #list {
      position: relative;
      margin-top: 60px;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font: {
        size: 1em;
        line-height: 2em;
        weight: bold;
      }
      a {
        --this-a-color: var(--fg);
        color: var(--this-a-color);
        height: var(--this-a-size);
        font-size: var(--this-a-size);
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          border-bottom: 0.1em solid var(--this-a-color);
          transform: scale(0, 100%);
          transition-property: border-bottom-color;
          transition-duration: 0.3s;
        }
        &:hover {
          text-decoration: none;
          &:before {
            transition-property: border-bottom-color,transform;
            transition-duration: 0.3s;
            transform: scale(100%, 100%);
          }
        }
      }
      li:nth-child(2n+1) a {
        --this-a-color: var(--dt-cyan);
      }
      li:nth-child(3n+1) a {
        --this-a-color: var(--dt-yellow);
      }
      li:nth-child(4n+1) a {
        --this-a-color: var(--dt-pink);
      }
      li {
        --this-a-size: 1em;
        position: relative;
        display: inline-block;
        padding: 1px 3px;
        z-index: 6;
        sup {
          display: none;
        }
        &.tc-5 {
          --this-a-size: 1.3em;
          z-index: 5;
        }
        &.tc-4 {
          --this-a-size: 1.5em;
          z-index: 4;
        }
        &.tc-3 {
          --this-a-size: 1.8em;
          z-index: 3;
        }
        &.tc-2 {
          --this-a-size: 2.2em;
          z-index: 2;
        }
        &.tc-1 {
          --this-a-size: 2.6em;
          z-index: 1;
        }
      }
    }
  }

  article {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 30px;
    &:after {
      font: {
        size: 80%;
        family: $monofont;
      }
      line-height: 1.5em;
      content: '.. END';
      color: var(--fg);
      transition: color 0.3s;
      opacity: 0.5;
    }
    #header {
      padding: 50px 0 20px 0;
      #headline h1 {
        font-size: 3em;
        line-height: 1.5em;
        margin-bottom: 0;
        //color: var(--fg-h);
      }
      #tags {
        display: block;
        margin-bottom: 20px;
        a {
          display: inline-block;
          padding: 3px 10px;
          color: var(--fg);
          font: {
            family: $monofont;
            size: 90%;
          }
          line-height: 1em;
          &:before {
            content: ' ';
            @include icon(var(--tag-icon), calc(1em - 2px));
            position: relative;
            bottom: 1px;
            filter: var(--fg-f);
            margin-right: 3px;
          }
          &:before, span {
            vertical-align: text-bottom;
          }
        }
      }
      #ctrl {
        display: block;
        font-family: $monofont;
        a {
          color: var(--fg);
          &:hover {
            text-decoration: none;
          }
        }
        button {
          padding: 5px 10px;
          margin-right: 10px;
          font-size: 90%;
          line-height: 1em;
          outline: none;
          border-radius: 0;
          box-shadow: inset 0 -1px 0 var(--brand0);
          &:hover {
            box-shadow: inset 0 -3px 0 var(--brand0);
            outline: none;
          }
          &:before {
            filter: var(--fg-f);
            margin-right: 5px;
          }
          &:before, span {
            vertical-align: text-bottom;
          }
        }
        #disqus-comments-count {
          button:before {
            content: ' ';
            @include icon(var(--comm-icon), 1em);
          }
        }
        #show-source-code {
          button:before {
            content: ' ';
            @include icon(var(--ssc-icon), 1em);
          }
        }
        #share {
          button:before {
            content: ' ';
            @include icon(var(--share-icon), 1em);
          }
        }
      }
      #info {
        margin-top: 10px;
        time {
          display: inline-block;
          font: {
            family: $monofont;
            size: 90%;
          }
          line-height: 1.5em;
          &:before {
            content: ' ';
            filter: var(--fg-f);
            transform: translate(0, 1px);
            margin-right: 5px;
          }
          &.modified {
            &:before {
              @include icon(var(--cal-m-icon), 1em);
            }
            margin-right: 10px;
          }
          &.published {
            &:before {
              @include icon(var(--cal-c-icon), 1em);
            }
          }
          /*
          &.modified+time.published {
            font-size: 70%;
            line-height: 1.5em;
            opacity: 0.8;
          }
          */
        }
        #extra-license-info {
          margin-top: 10px;
          font-size: 80%;
          font-family: $monofont;
          line-height: 1.5em;
          &:before {
            content: ' ';
            @include icon(var(--license-icon), 1em);
            filter: var(--fg-f);
            transform: translate(0, 1px);
            margin-right: 5px;
          }
        }
      }
    }
    nav[role="doc-toc"] {
      @media screen {
        display: none;
      }
      display: inline-block;
      padding: 20px 10px;
      border: 1px solid var(--fg);
      .topic-title {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0.5em;
      }
      li p {
        margin: 0;
        padding: 0;
      }
      >ul {
        margin-top: 0.5em;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        >li {
          >ul {
            list-style-type: disc;
            font-size: 95%;
            line-height: 1.5em;
            >li {
              >ul {
                font-size: 95%;
                line-height: 1.5em;
                list-style-type: square;
                >li {
                  >ul {
                    font-size: 95%;
                    line-height: 1.5em;
                    list-style-type: circle;
                  }
                }
              }
            }
          }
        }
      }
    }
      /*
      >.contents.topic {
        +div, +ol, +ul, +p, +a, +table, +h1, +h2, +h3, +h4, +h5, +pre, +img {
          position: relative;
          padding-top: 30px;
          // pontential bug here
          &:before {
            content: '正文：';
            font: {
              weight: bold;
              size: 12px;
              family: $monofont;
            }
            line-height: 12px;
            padding: 9px 0;
            box-sizing: border-box;
            opacity: 0.5;
            display: block;
            position: absolute;
            height: 30px;
            width: 100%;
            top: 0;
            left: 0;
          }
        }
      }
      */
    #content {
    }
  }

  #oldnewerposts {
    position: relative;
    width: 100%;
    padding: 20px 0 10px 0;
    opacity: 0.8;
    display: flex;
    font-weight: bold;
    font-size: 90%;
    font-family: $monofont;
    border-bottom: 1px solid var(--brand0);
    span {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      width: 50%;
      &#newerpost {
        padding-right: 10px;
        text-align: left;
        a:before {
          content: ' ';
          @include icon(var(--cl-icon), 1em);
          filter: var(--link-f);
        }
      }
      &#olderpost {
        padding-left: 10px;
        text-align: right;
        a:after {
          content: ' ';
          @include icon(var(--cr-icon), 1em);
          filter: var(--link-f);
        }
      }
    }
  }

  #related-posts {
    position: relative;
    width: 100%;
    font-size: 80%;
    line-height: 1.5em;
    margin-bottom: 1.33em;
    h4 {
      margin-bottom: 0.5em;
    }
    ul {
      margin-top: 0.5em;
      list-style: none;
      padding-left: 20px;
      li a {
        color: var(--fg);
      }
    }
  }

  #comments {
    position: relative;
    width: 100%;
    margin: 20px 0 10px 0;
    //scroll-margin-top: 60px;
    &:target {
      >a#show-disqus {
        color: var(--highlight-fg);
        background-color: var(--highlight);
      }
    }
    >a {
      &#show-disqus {
        position: relative;
        display: inline-block;
        padding: 3px 10px;
        left: -10px;
        font-family: $monofont;
        font-size: 80%;
        line-height: 1.5em;
        transition-property: color,background-color;
        transition-duration: 2s;
      }
      font-weight: bold;
      font-size: 90%;
    }
    #disqus_thread {
      box-shadow: 0px 0px 5px var(--brand0);
      border-radius: $radius;
      padding: 20px;
    }
  }

}

footer {
  position: relative;
  font-size: 90%;
  font-family: $monofont;
  line-height: 1.5em;
  margin-top: 30px 0 0 0;
  width: 100%;
  height: 100%;
  padding: 20px max(var(--sar), 10px) calc(var(--sab) + 15px) max(var(--sal), 10px);
  border-top: 1px solid var(--brand0);
  box-sizing: border-box;
  transition-property: width,margin-left,width,border-top-color;
  transition-duration: 0.3s;
  >div {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    display: block;
    ul {
      display: table-cell;
      width: 45%;
      position: relative;
      padding-left: 0;
      margin: 0;
      list-style: none;
      #rss:after {
        content: ' ';
        @include icon(var(--rss-icon), 1.2em);
        filter: var(--fg-f);
        position: relative;
        margin-left: 3px;
        vertical-align: text-bottom;
      }
    }
    #license {
      display: table-cell;
      width: 55%;
      position: relative;
      vertical-align: bottom;
      img.cc {
        width: 30px;
        height: 30px;
        filter: var(--fg-f);
        transition: filter 0.3s;
        margin-right: 5px;
      }
      span {
        display: block;
      }
    }
  }
}

source-code-close button,
left-side-button button,
header button#color-mode,
header button#back-top,
header button#help,
#pager button {
  //outline-color: transparent;
  box-shadow: none;
  margin: 1px;
  padding: 19px;
  width: 58px;
  height: 58px;
  box-sizing: border-box;
  &:before {
    content: ' ';
    filter: var(--fg-f);
  }
  &:hover {
    //box-shadow: none;
    //outline-color: transparent;
  }
  &:active {
    //outline: 1px dashed var(--brand0);
  }
}

// for rendered compontents
left-side-button {
  @media print {
    display: none;
  }
  button {
    &:before {
      @include icon(var(--bars-icon), 20px);
    }
  }
}

left-side {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  height: 100%;
  //left: calc(0px - var(--sal));
  padding: var(--sat) 0 var(--sab) var(--sal);
  box-sizing: border-box;
  max-width: calc(350px + var(--sal));
  background-color: var(--bg);
  transform: translateX(-350px);
  box-shadow: inset -1px 0 var(--bg-less);
  overflow: hidden;
  word-break: break-word;
  transition-property: transform, background-color, box-shadow;
  transition-duration: 0;
  nav[role="doc-toc"] {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 0;
    .topic-title {
      height: 60px;
      padding: 20px 0 20px 20px;
      margin: 0 1px 0 0;
      box-sizing: border-box;
      font-weight: bold;
      position: sticky;
      top: 0;
      left: 0;
      background-color: var(--bg);
      transition-property: background-color;
      transition-duration: 0.3s;
      z-index: 1;
    }
    ul {
      padding-left: 0;
    }
    li {
      padding: 0;
      display: flex;
      flex-direction: column;
      p {
        margin: 0;
        padding: 0;
      }
      a {
        display: block;
        position: relative;
        width: 100%;
        line-height: 1em;
        font: {
          size: 80%;
          family: $monofont;
        }
        padding: 0.5em 1em 0.5em 0;
        //height: 2em; // firefox calculate the rt elem height when rendering ruby element, while chrome not
        box-sizing: border-box;
        text-decoration: none;
        color: var(--fg);
        &:before {
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          width: 10px;
          height: 100%;
          border-right: 1px solid var(--bg-less);
          transition: border-right-color 0.3s;
        }
        &:hover {
          /*
          font: {
            weight: bold;
          }
          color: var(--fg-more);
          &:before {
            border-right-width: 2px;
            border-right-color: var(--brand0);
          }
          */
          &:after {
            content: ' ';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--bg-less);
            transition: background-color 0.3s;
            opacity: 0.8;
            //border-top: 1px dashed var(--brand0);
            //border-bottom: 1px dashed var(--brand0);
          }
        }
        /*
        &:active {
          box-shadow: inset 0 1px var(--brand0);
        }
        */
        &.active {
          &:before {
            border-right-color: var(--brand0);
          }
        }
      }
    }
    >ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: max(var(--sab), 20px);
      position: relative;
      >li {
        position: relative;
        a {
          padding-left: 30px;
        }
        >ul>li {
          a {
            padding-left: 50px;
          }
          >ul>li {
            a {
              padding-left: 70px;
            }
            >ul>li {
              a {
                padding-left: 90px;
              }
              >ul>li {
                a {
                  padding-left: 110px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@import 'article.scss';
@import 'dracula.scss';
