// Author: cwittlut <i@bitbili.net>
// License: GPLv2
//

$font: "Noto Sans", "Noto Sans CJK SC", "Source Han Sans", "Source Han Sans SC", "Hiragino Sans GB", sans-serif;
//$monofont: "JetBrains Mono", "Fira Mono", monospace;
$monofont: monospace;

$fontsize: 16px; //1em;
$linehight: 1.5em;

$radius: 5px;
$radius-smaller: 3px;
$mainpadding: 20px;
$mainpadding-smaller: 10px;
