{#
Author: cwittlut <i@bitbili.net>
License: GPLv2
#}
{% if articles %}
  <div id="title-list">
  {% for article in (articles_page.object_list if articles_page else articles) %}
    <a class="article_title" href="{{ _url(article.url, relative=False) }}">
      {{ article.title }}
    </a>
  {% endfor %}
{% endif %}

{% if articles_page and articles_paginator.num_pages > 1 %}
  <div id="pager">
    {% if articles_page.has_previous() %}
      <a id="previous_page" href="{{ _url(articles_previous_page.url, relative=False) }}">
      </a>
    {% else %}
      <a id="previous_page" class="disabled-a">
      </a>
    {% endif %}
    {% if articles_page.has_next() %}
      <a id="next_page" href="{{ _url(articles_next_page.url, relative=False) }}">
      </a>
    {% else %}
      <a id="next_page" class="disabled-a">
      </a>
    {% endif %}
  </div>
{% endif %}
