{#
Author: cwittlut <i@bitbili.net>
License: GPLv2
#}
        {% if page %}
          {% set article = page %}
        {% endif %}
        <div id="ctrl">
          {% if DISQUS %}
          <a id="disqus-comments-count" class="hidden-print" href="#comments" >
            <button>
              <span class="disqus-comment-count" data-disqus-identifier="{{ article.slug }}">-</span>
            </button>
          </a>
          {% endif %}
          <a @click="showSourceCode(this)" id="show-source-code" class="hidden-print" href="{{ _rst_url(_url(article.url)) }}">
            <button><span>源码</span></button>
          </a>
          <a id="share" class="hidden-print">
            <button><span>分享</span></button>
          </a>
        </div>

