{#
Author: cwittlut <i@bitbili.net>
License: GPLv2
#}

    <div id="index">
      {% if articles %}
      <div id="title-list">
        <ul>
          {% for article in (articles_page.object_list if articles_page else articles) %}
            {% if article.pin and article.pin != False %}
              {% set pined = "pined" %}
            {% else %}
              {% set pined = "" %}
            {% endif %}
          <li class="{{pined}}">
            <a class="article-title" href="{{ _url(article.url, relative=False) }}">
              {{ article.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% if (not tag) and (not category) and (not author) and last_modified_date_of_all %}
          <div>
        <div id="modified-date" title="文章最近更新于 {{last_modified_date_of_all.strftime('%Y-%m-%d %H:%M %Z')}}">
          {{ last_modified_date_of_all.strftime('%B %d 日') }}
        </div>
        {% endif %}
        <div id="page-number">{{ articles_page.number }} / {{ articles_paginator.num_pages }}</div>
        {% if (not tag) and (not category) and (not author) and last_modified_date_of_all %}
          </div>
        {% endif %}
      </div>
      {% endif %}

      {% if articles_page and articles_paginator.num_pages > 1 %}
      <div id="pager-loading"></div>
      <div id="pager">
        {% if articles_page.has_previous() %}
          {% set previous_url = articles_previous_page.url %}
          {% set previous_dis = "" %}
        {% else %}
          {% set previous_url = "" %}
          {% set previous_dis = "disabled-a" %}
        {% endif %}
        <noscript>
        <a id="newer-page" class="{{previous_dis}}" href="{{ _url(previous_url, relative=False) }}">
          <button></button>
        </a>
        </noscript>
        <newer-page myclass="{{previous_dis}}" myhref="{{ _url(previous_url, relative=False) }}">
        </newer-page>

        {% if articles_page.has_next() %}
          {% set next_url = articles_next_page.url %}
          {% set next_dis = "" %}
        {% else %}
          {% set next_url = "" %}
          {% set next_dis = "disabled-a" %}
        {% endif %}
        <noscript>
        <a id="older-page" class="{{next_dis}}" href="{{ _url(next_url, relative=False) }}">
          <button></button>
        </a>
        </noscript>
        <older-page myclass="{{next_dis}}" myhref="{{ _url(next_url, relative=False) }}">
        </older-page>
      </div>
      {% endif %}
    </div>
